<div class="container-fluid border border-info py-2">
    <div *ngIf="!isEdit">
        <div class="row mb-2">
            <div class="col-11">
                <h4>{{ user.email }}</h4>
            </div>
            <div class="col-1" (click)="onClickEdit()">
                <i class="fas fa-edit"></i>
            </div>
        </div>
        <hr class="border-top border-info">
        <div class="row">
            <div class="col-4">
                <p>{{ user.name }}</p>
            </div>
            <div class="col-4">
                <p>{{ userCheck() }}</p>
            </div>
            <div class="col-4">
                <p>{{ userRole() }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="isEdit">
            <div class="form-group mb-1">
                <input type="email" class="form-control" [disabled]='!user.isActive' [(ngModel)]="editingUser.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Inserir Email">
            </div>
            <div class="form-group mb-1">
                <input type="text" class="form-control" [disabled]='!user.isActive' [(ngModel)]="editingUser.name" id="exampleInputNome" aria-describedby="emailHelp" placeholder="Inserir Nome">
            </div>
            <div class="form-row mb-1">
                <div class="col-6">
                    <input type="password" class="form-control" [disabled]='!user.isActive' [(ngModel)]="editingUser.password" id="exampleInputPassword1" placeholder="Nova senha">
                </div>
                <div class="col-6">
                    <input type="password" class="form-control" [disabled]='!user.isActive' [(ngModel)]="editingUser.reinputPassword" id="exampleInputPassword2" placeholder="Confirmar nova senha">
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" [disabled]='!user.isActive' [(ngModel)]="editingUser.role" type="radio" name="editRole" id="adminEdit" value="admin">
                <label class="form-check-label" for="adminEdit">Administrador</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" [disabled]='!user.isActive' [(ngModel)]="editingUser.role" type="radio" name="editRole" id="basicEdit" value="basic">
                <label class="form-check-label" for="basicEdit">Basico</label>
            </div>
            <br>
            <div *ngIf="!isChangeActive" class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-danger mr-1" (click)="onChangeActive()">{{ Desativado }}</button>
                <button type="submit" class="btn btn-outline-secondary mr-1" (click)="onCancelEdit()">Cancelar</button>
                <button type="submit" [disabled]='!user.isActive' class="btn btn-outline-info mr-1" (click)="onSaveEdit()">Modificar</button>
            </div>
            <div *ngIf="errorDisplay != ''" class="alert alert-danger mt-2 mb-2" role="alert">
                {{errorDisplay}}
            </div>
            <div *ngIf="isChangeActive">
                <div class="alert alert-danger mt-2 mb-2" role="alert">
                    Deseja mesmo {{ Desativado }} o usuário?
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-secondary mr-1" (click)="onChangeActive()">Cancelar</button>
                    <button type="submit" class="btn btn-outline-info mr-1" (click) = "onSaveActive()">{{ Desativado }}</button>
                </div>
            </div>
    </div>
</div>